body {
  margin: 0;
  background-color: lightgray;
}

.navbar {
  background-color: lightgreen;
}

.flex {
  display: flex;
}

.name {
  font-size: large;
}

a {
  color: black;
}

.sticky {
  position: fixed;
}

li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.push {
  margin-left: auto;
}

h1 {
  text-align: center;
}

h1:hover {
  color: orange;
}

.contact-me {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

img {
  width: 200px;
  float: right;
}

.aboutImg {
  height: 300px;
  width: 400px;
  margin-bottom: 20px;
}

.indexImg {
  height: 300px;
  width: 400px;
}

.zone {
  display: flex;
  padding: 20px;
  background-color: beige;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.indexZone {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.indexQuote {
  background-color: lightgoldenrodyellow;
  padding: 20px;
}

.quote {
  text-align: center;
  font-size: 50px;
  /* background-color: aquamarine; */
}

.image1 {
  background-image: url("images/landscape.jpg");
  height: 40vh;
  font-size: 25px;
  color: azure;
  padding: 20px;
}

.image2 {
  background-image: url("images/tulips.jpeg");
  height: 40vh;
  font-size: 25px;
  font-weight: 600;
  color: black;
  padding: 20px;
}

.image3 {
  background-image: url("images/positive-image.jpeg");
  height: 40vh;
  font-size: 25px;
  padding: 20px;
}
