body {
  margin: 0;
  background-color: lightgray;
}

#navbar {
  background-color: lightgreen;
}

a {
  color: black;
}

.sticky {
  position: fixed;
}

.float {
  float: right;
  padding: 10px;
}

h3 {
  display: inline-block;
  padding: 10px;
}

img {
  width: 200px;
  float: right;
}

.aboutImg {
  height: 300px;
  width: 400px;
  margin-bottom: 20px;
}

.indexImg {
  height: 300px;
  width: 400px;
}

.zone {
  display: flex;
  padding: 20px;
  background-color: beige;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.indexZone {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.indexQuote {
  background-color: lightgoldenrodyellow;
  padding: 20px;
}

.quote {
  text-align: center;
  font-size: 50px;
  /* background-color: aquamarine; */
}

.image1 {
  background-image: url("images/landscape.jpg");
  height: 40vh;
  font-size: 25px;
  color: azure;
  padding: 20px;
}

.image2 {
  background-image: url("images/tulips.jpeg");
  height: 40vh;
  font-size: 25px;
  font-weight: 600;
  color: black;
  padding: 20px;
}

.image3 {
  background-image: url("images/positive-image.jpeg");
  height: 40vh;
  font-size: 25px;
  padding: 20px;
}
