body {
  margin: 0;
  background-color: lightgray;
}

#navbar {
  background-color: lightgreen;
}

a {
  color: black;
}

.sticky {
  position: fixed;
}

.float {
  float: right;
  padding: 10px;
}

h3 {
  display: inline-block;
  padding: 10px;
}

img {
  width: 200px;
  float: right;
}

.about {
  width: 300px;
  margin-bottom: 20px;
  margin-right: 100px;
}

.quote {
  margin-top: 300px;
}

.image1 {
  background-image: url("images/landscape.jpg");
  height: 50vh;
  font-size: 25px;
  color: azure;
  padding: 20px;
}

.image2 {
  background-image: url("images/tulips.jpeg");
  height: 50vh;
  font-size: 25px;
  font-weight: 600;
  color: black;
  padding: 20px;
}
